body{
    background: #e6e9f0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0px 0px;
}

.button-container{

}

.tz-gallery div.row{
    margin-bottom: 20px;
}

.thumbnail-container{
    padding-top: 20px;
}

.thumbnail-container .thumbnail{
    margin-bottom: 20px;
}

#filterModal select{
    font-size: 1.5rem;
    color: #444;
}

#rouletteYear1 > img{
    content:attr(alt);
    font-size: 1.5rem;
    color: #444;
    display: none;
    height: 27px;
}
#rouletteYear2 > img{
    content:attr(alt);
    font-size: 1.5rem;
    color: #444;
    display: none;
    height: 27px;
}

.modal-lg{
    max-width:90%;
}

#rollingEmployee > div{
    height: 700px;
}

#secretQuestionConainer{
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: large;
}

#rollingEmployeeBox1{
    background:#EE5327;
    height:75%;
    border-radius: 15px;;
}

#rollingEmployeeBox2{
    background: #ccc;
    overflow-y: scroll;
    height: 623px
}

.navRollingEmploeeFilter{
    background-color: #EE5327 !important;
 }

#rouletteEmployeeBox1{
    height: 50%;
    margin: 0 auto;
}
